# 1.1Variables

In [ ]:
#Variable is used to stored data value in programming language. 
#Data may be anything String, Integers, float 
#Single value
#\t can be used to add a tab while \n can input a new line.

In [ ]:
a = '#pythonrules' # string
b = 30              # integer
c = True            # boolean
print('3:','String:', a, '\tInteger:', b, '\tBoolean:', c)

3: String: #pythonrules 	Integer: 30 	Boolean: True

## The type Function

In [ ]:
#Variables can be reassigned to a different type.
#string str(), integer int(), floating float()

In [ ]:
a = 1
a = str(a)
print (a, type(a))

a = float(a)
print (a, type(a))

1 <class 'str'>
1.0 <class 'float'>

In [ ]:
#Boolean bool()  1 for True or 0 for False

In [ ]:
c = 1
c= bool(c) #1 for True 
print (c, type(c))

d = 0
d= bool(d)  #0 for False
print (d, type(d))

True <class 'bool'>
False <class 'bool'>

In [ ]:
#Null values  None

In [ ]:
a = None
print(a)

None

## Operations on Numeric Variables

In [ ]:
print('Addition:', 53 + 5)
print('Multiplication:', 53 * 5)
print('Subtraction:', 53 - 5)
print('Division', 53 / 5 )
print('Floor Division (discards the fractional part)', 53 // 5 )
print('Floor Division (returns the remainder)', 53 % 5 )
print('Exponents:', 5 ** 2 )

Addition: 58
Multiplication: 265
Subtraction: 48
Division 10.6
Floor Division (discards the fractional part) 10
Floor Division (returns the remainder) 3
Exponents: 25

## Operations on String Variables

In [ ]:
#Concatentate Strings #backslash is used as an escape variable.

In [ ]:
a='Start'
b='End'
tab='\t'
newline='\n'
c='can\'t'  #Note that we have to use the Escape character '\' to inclue a apostrophe '  in the key.
cb="can't"


print('Concatenation:', a+b ) #Concatenation: StartEnd
print('Tab:', a+tab+b ) #Tab: Start	End
print('Newline:', a+newline+b ) #Newline: Start
                                #End
print('Apostrophe:', c )   # Apostrophe: can't
print('Apostrophe:', cb )  #Apostrophe: can't

## Calling Functions on Variables

In [ ]:
#We can call functions in a conventional way using round brackets
#abs() , round(), chr()

In [ ]:
a=abs(-98.45)
a=round(a) #98
print('round() rounds to nearest integer:', a )
character=chr(a) #chr(98) representing a character
print('chr(98) returns the string representing a character whose Unicode code point is associated with the integer:',character)

round() rounds to nearest integer: 98
chr(98) returns the string representing a character whose Unicode code point is associated with the integer: b

# 1.2 Lists

In [ ]:
#Lists can be used to contain a sequence of values of any type.
#You can do operations on lists.
# start at 0, first value: a[0]
#Lists can be sliced or indexed using the start and end value a[start:end]
#Lists are mutable datastructures, meaning that they can be changed (added to).

In [ ]:
a = [1, 2, 'three', 'four', 5.0]
print('Print from second value till end  of list:', a[2:]) #['three', 'four', 5.0]
print('Print up till the 2nd to last value:', a[:-2]) #[1, 2, 'three']
type(a) #list

## Nested Lists

In [ ]:
#The elements of a nested list is specified after the first list when slicing c[0][0]

In [ ]:
a = [1, 2, 'three', 'four', 5.0]
b = [6, 'seven', 8, 'nine']
c = [a, b]

print(c)    #[[1, 2, 'three', 'four', 5.0], [6, 'seven', 8, 'nine']]
print( c[0])  # [1, 2, 'three', 'four', 5.0]
print( c[1][0])   # 6

## Lists functions

In [ ]:

https://docs.python.org/3/tutorial/datastructures.html

In [ ]:
#Add an item to the end of the list
b = [6, 'seven', 8, 'nine'] #[6, 'seven', 8, 'nine', 10]
b.append(10)
print( b)

b[len(b):] = ['Eleven',12] #[6, 'seven', 8, 'nine', 10, 'Eleven', 12]
print(b)

In [ ]:
# Adding item 1)list.append(x) 2)list.extend(iterable) 3)a[len(a):] 
# Insert item 1)a.insert(0, x) *in front 2)a.insert(len(a), x) 
# Remove item 1)a.remove(x) 2)a.pop([i]) 3)a.clear() 4)del a[:]
# Index: 1)a.index(x[, start[, end]])
# Count: 1)list.count(x)
# Sort: 1)list.sort() 2)list.reverse()
#same list : lista = listb   modify one it will modify both.
#copy of a list: lista=listb[:] lista2=listb2.copy()

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

fruits.count('tangerine') #0

fruits.pop() #only take the last item

fruits.sort()
fruits #['apple', 'apple', 'banana', 'kiwi', 'orange', 'pear']

fruits.insert(3, "nana")
fruits #['apple', 'apple', 'banana', 'nana', 'kiwi', 'orange', 'pear']

fruits.extend("nana")
fruits

In [ ]:
vec = [-4, -2, 0, 2, 4]
[x*2 for x in vec]
[x for x in vec if x >=0 ]  #[0, 2, 4]
[abs(x) for x in vec] #[4, 2, 0, 2, 4]

#create a list of 2-tuples like (number, square)
[(x, x*2) for x in range(6)] #[(0, 0), (1, 2), (2, 4), (3, 6), (4, 8), (5, 10)]

#flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem] #[1, 2, 3, 4, 5, 6, 7, 8, 9]

#List comprehensions can contain complex expressions and nested functions:
from math import pi 
[str(round(pi,i))for i in range(1,6)] #
[num for elem in vec for num in elem] #[1, 2, 3, 4, 5, 6, 7, 8, 9]

#List comprehensions can contain complex expressions and nested functions:
from math import pi 
[str(round(pi,i))for i in range(1,6)] #['3.1', '3.14', '3.142', '3.1416', '3.14159']

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [ ]:
#Nested List Comprehensions
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
 ]
[[row[i] for row in matrix for i in range(4)]] #1 
list(zip(*matrix)) #[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

# 1.3 Tuples and Sequences

In [ ]:
#A tuple consists of a number of values separated by commas
#ex t = 12345, 54321, 'hello!'
#output tuples are always enclosed in parentheses
#Tuples are immutable
#indexing

In [ ]:
t = 12345, 54321, 'hello !'
t[0] #12345 indexing
t  #(12345, 54321, 'hello!')  output()

#Tuples may be nested:
u = t, (1, 2, 3, 4, 5)  
u  ##((12345, 54321, 'hello !'), (1, 2, 3, 4, 5))

#  Tuples are immutable:
#t[1]=800

#Empty tuples are constructed by an empty pair of parentheses;
emty=()

#a tuple with one item is constructed by following a value with a comma
singlenton = 'hello', #len=1

#1.4 Sets {}

In [ ]:
#A set contains no duplicates. vs. Lists can contain duplicate values.
#Sets can be created from lists. set()
#or write a set literal {} brackets.

In [ ]:
# creates a set from a list. 
X = set([1, 2, 3, 3, 4]) 
print(X, type(X)) #{1, 2, 3, 4} <class 'set'>

In [ ]:
X = {1, 2, 3, 4, 4}
print(X, type(X)) #{1, 2, 3, 4} <class 'set'>

## Sets are Mutable

In [ ]:
#Sets are mutable like lists (meaning we can change them)
#Duplicates are automatically removed

In [ ]:
#Duplicates are automatically removed
X = {1, 2, 3, 4}
X.add(0)
X.add(5)
print(X) #{0, 1, 2, 3, 4, 5}
X.add(5)
print(X) #{0, 1, 2, 3, 4, 5}

## Sets are Unordered

In [ ]:
#Sets do not have an order.
# cannot index or slice them.

In [ ]:
X = {1, 2, 3, 4}
X[0] #'set' object does not support indexing

## Operations on Sets

In [ ]:
#Union:  X∪Y      X.union(Y)
#Intersection:  X∩Y     X.intersection(Y)
#Difference:  X−Y      X - Y

In [ ]:
X = {1, 2, 3, 4}
Y = {3, 4, 5}
X.intersection(Y)  #{3, 4}
X-Y  #{1, 2}
X.union(Y) # {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5}

# 1.5 Dictionaries

In [ ]:
#dictionaries as arrays that help you assocaite a key with a value.
#{key: value, key: value}                     {'a' : 0}
# or dict([('key', value), ('key', value)])   dict([(1, 'a')])
#Key/values can be  string/ numeric
#Dictionaries are mutable, (can be changed) adict['g'] = 41

In [ ]:
adict1 = {'a' : 0, 'b' : 1, 'c' : 2}
adict2 = dict([(1, 'a'), (2, 'b'), (3, 'c')])
print(adict1,adict2) #{'a': 0, 'b': 1, 'c': 2} {1: 'a', 2: 'b', 3: 'c'}
print(type(adict1),type(adict2))   #<class 'dict'> <class 'dict'>
print(adict1['b'],adict2[2])      #1 b

In [ ]:
#A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key
tel = {'jack': 4098, 'sape': 4139}
tel['guido']=4127 #adding a dict
tel  #{'guido': 4127, 'jack': 4098, 'sape': 4139}
tel['jack'] #findingjack- 4098

#delete a key:value pair with del
del tel['sape']
tel #{'guido': 4127, 'jack': 4098}

# list(d) on a dictionary returns a list of all the keys
list(tel) #['jack', 'guido']

#want it sorted, just use sorted(d)
sorted(tel) #['guido', 'jack']

# check and see
'jack' not in tel #False

False

In [ ]:
#dict() constructor builds dictionaries directly from sequences of key-value pairs
dict([("jack",100), ("lily", 3)]) #{'jack': 100, 'lily': 3}

#specify pairs using keyword
dict(jack=500, lily=9) #{'jack': 500, 'lily': 9}

{'jack': 500, 'lily': 9}