# 2.2 Comprehensions

In [ ]:

#*A tuple is a collection which is ordered and unchangeable.

In [ ]:
[i + 1 for i in range(10)] #squish the for loop into a single line

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[i**3 for i in range(10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
[x for x in range(10) if x%2] #conditionals can addes at the end

[1, 3, 5, 7, 9]

In [ ]:
new_list = []
for x in range(3):
    for y in range(2):
        new_list.append(("x"+str(x),"y"+str(y)))
new_list

[('x0', 'y0'),
 ('x0', 'y1'),
 ('x1', 'y0'),
 ('x1', 'y1'),
 ('x2', 'y0'),
 ('x2', 'y1')]

In [ ]:
{x:x**2 for x in range(10)if x%2}  #dict comprehension

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [ ]:
{x for x in range(10)if x%2} #set comprehension

{1, 3, 5, 7, 9}

In [ ]:
g=(x for x in range(10)) #tuple
g
tuple(g)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
tuple(x for x in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)


# 2.3 Function *args **kwargs

In [ ]:
#args creates tuple () , *kwargs creates dictionary {}
#*args are usually used we don’t know how many arguments will be passed to the function.
#*arg is just a conve)ntion (iterable nature * no change just like tuple

In [ ]:
#order 
a, b=40, *args, **kwargs
1.standard argument  #a, b=40
2.*args              #*args
3.**kwargs           #**kwargs

In [ ]:
def myfunc(a, b=40, *args, **kwargs):
    print(a) #1      ##1
    print(b) #2   ##40 by default
    print(args) #(3, 5) ##()
    print(kwargs) #{'k': 1, 'j': 4}  ##{}

myfunc(1,2,3,5,k=1, j=4)

1
2
(3, 5)
{'k': 1, 'j': 4}

In [ ]:
myfunc(1) ##by default

1
40
()
{}

## *args

In [ ]:
#single asterisk (*) to unpack iterables
##*args are usually used we don’t know how many arguments will be passed to the func

In [ ]:
def my_sum(*intergers):
  result = 0
  for x in intergers:
      result += x
  return result

my_sum(1,2,3,) #6

6

In [ ]:
def my_sum(*args):
  result = 0
  for x in args:
      result += x
  return result

l1= [1,2,3,4]
l2= [4,5]
l3= [6,7,8,9]

my_sum(*l1,*l2,*l3)
my_sum() #45

In [ ]:
#*args are iterable meaning it can store multiple values and are capable of returning them one by one. 
l=[1,2,3]
l   #[1, 2, 3]
#VS
l=[1,2,3]
print(*l)  #1 2 3

#extract_list
l=[1,2,3,4,5,6]
a,*b,c = l
print(a) #1
print(b) #[2, 3, 4, 5]
print(c) #6

#merging list
l1 = [1,2,3]
l2= [4,5,6]
lmerging = [*l1, *l2]
lmerging #[1, 2, 3, 4, 5, 6] #* return 1 list
#VS
l1 = [1,2,3]
l2= [4,5,6]
lmerging = [l1, l2]
lmerging #[[1, 2, 3], [4, 5, 6]]

#string to list
a =[*"hello"]
print(a) #['h', 'e', 'l', 'l', 'o']
#or
*a, = 'Hello' #['H', 'e', 'l', 'l', 'o']
print(a)

1 2 3
1
[2, 3, 4, 5]
6
['h', 'e', 'l', 'l', 'o']
['H', 'e', 'l', 'l', 'o']

## **kwargs

In [ ]:
# two asterisks (**) to unpack dictionaries
# accept keywords or name
#use dot value method kwargs.values()

In [ ]:
def concatenate(**words):
    result =""
    for arg in words.values():
         result += arg
    return result

concatenate(a="hello", b="hi") # hellohi

In [ ]:
#merging dicts
l1={'a':1, 'b':2} #dic use{}
l2={'c':3, 'd':4}
lmerging= {**l1,**l2}
lmerging  #{'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

#2.4 Funtions - **kwargs Mutability

In [ ]:
def afunc(list_=None):
    inter_list=list_ or []
    inter_list = list(inter_list)
    inter_list.append("Hi")
    return inter_list

print(afunc())
print(afunc())
print(afunc())

['Hi']
['Hi']
['Hi']

*italicized text*

In [ ]:
def afunc(list_=[]): # not a pure function!
    list_.append('Hi') #this will update the list bound to the function
    return list_

print(afunc()) #['Hi']
print(afunc()) #['Hi', 'Hi']
print(afunc()) #['Hi', 'Hi', 'Hi']

['Hi']
['Hi', 'Hi']
['Hi', 'Hi', 'Hi']

# 2.5 scope

In [ ]:
# a scope is the programmatic location in which variables are defines

## global

In [ ]:
#adding a global variable:
globals()['y']=100
#or
y= '100'
globals()

# re-assign value
globals()['y']=500

In [ ]:
variable_with_global_scope=1

def func(variable_with_functional_scope): 
  global variable_with_global_scope #force python to allow writing to the global variable.

  variable_with_global_scope=variable_with_global_scope+variable_with_functional_scope 
  
func(10)
print(variable_with_global_scope) #11 1+10

In [ ]:
x="foo" 
globals() #add x=foo in globals function

globals()['x'] #foo
x is globals()['x'] #true

In [ ]:
#module
import datetime 
globals()

# 2.6 Lambda functions

In [ ]:
#lambda function: anonymous function or a function having no name.
#Just like a normal function, a Lambda function can have multiple arguments with one expression.

In [ ]:
# square a number
square=lambda x:x**2
square(5) #25

square=lambda num:num**2
square(28) #784

# 2 add two number
add = lambda x,y:x+y
add(3,5) #8

# power 
power= lambda x, y:x**y
power(5,3)  #125

125

In [ ]:
#lambda functions with list.sort(), filter(), map() and reduce

### Lambda sort

In [ ]:
# Sort list.sort(key=none,reverse=Flase)

cmp = ["M C",'R G','j s','s r','a w','k m','r e']
print(cmp) #['M C', 'R G', 'j s', 's r', 'a w', 'k m', 'r e']

cmp.sort(key=lambda x:x.split()[-1])  #lambda allow sort by last name
print(cmp) #['M C', 'R G', 'r e', 'k m', 's r', 'j s', 'a w']

In [ ]:
#Sort by number  ("steve",35) 
#people.sort(key=lambda x:x[1])

In [ ]:
#sort-object 
class person:
    def i(self , name, age):
        self.name=name
        self.age=age
    def r(self):
        return f'{self.name}:{self.age}'

alex= person('alex',16)
edd=person('edd',12)
p=[alex,edd]
print(p)
p.sort(key=lambda x:x.age) #[edd:12, alex:16 ]
print(p)

In [ ]:
from statistics import mean
data =list(range(1,21))
avg = mean(data)
above_avg = list(filter(lambda x:x>avg ,data))
print(data)
print(above_avg) #[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
#filter item
short = list(filter(lambda x: len(x)>6,nicknames))

In [ ]:
#filter even number
evens = list(filter(lambda x: x%2==0,nums))

### Map

In [ ]:
nums= list (range(1,5))
squared= list(map(lambda x:x**2,nums))
print (squared)
# [1,2,3,4] #[1,4,9,16]

[1, 4, 9, 16]

In [ ]:
#make team add one more point to the score
new = list(map(lambda team: team[0],team[1]+1, wc_teams))
#"brazil:21" ~ "brazil:22"

### Reduce

In [ ]:
# allows cumulative, form left to right , to a single value

In [ ]:
from functools import reduce
nums=list (range(1,11))
total = reduce(lambda x, y: x+y,nums) #x*y 3628800
print(total) #55 # same as sum(numbs)

55

In [ ]:
# add all the first 2 charaters of the name together
conc= reduce(lambda x, y: x, y[:2], names, ' ') 

#' ' is for in case name is less than 3 charaters like"dan"
# dan darren joanna  ~ dadajo

# 2.8 Exception

In [ ]:
#exception raised when code with correct syntax results in an error

## Raise exception

In [ ]:
print(0/0) #ZeroDivisionError: division by zero #exception
print(0/0)) #SyntaxError: invalid syntax #wrong syntax

In [ ]:
X=10
if X>5:
  raise Exception(f"X needs to be under 5. it was {X}") #Exception: X needs to be under 5. it was 10
print("made it to the end!")

## Using assert

In [ ]:
# assert(condition), "optional messgage if not met"
#he assert statement is used to continue the execute if the given condition evaluates to True. 
#If the assert condition evaluates to False, then it raises the AssertionError exception

In [ ]:
name="qu"
assert(name=="qu")
print(f"my name if {name}") #my name if qu

In [ ]:
name="hu"
assert(name=="qu")
print(f"my name if {name}") #AssertionError:

## Try and except

In [ ]:
x='sausage'
try:
  answer=1/x
except ZeroDivisionError:
  answer='underfine'  #1/0
except TypeError:
  answer="meaningless" #The answer is meaningless
print(f"The answer is {answer}")

The answer is meaningless

## else

In [ ]:
x=1
try:
  answer=1/x
except ZeroDivisionError:
  answer='underfine' 
except TypeError:
  answer="meaningless"
else:    #no exception raise
  print("Thanks for putting in a number")
print(f"The answer is {answer}")

Thanks for putting in a number
The answer is 1.0

## Finally

In [ ]:
#use- by tidying up even when a program fails

In [ ]:
x=1
print('open file...')
try:
  answer=1/x
except ZeroDivisionError:
  answer='underfined' 
else:    
  print("Thanks for putting in a number")
finally:
  print('closing file...')
print(f"The answer is {answer}")

open file...
Thanks for putting in a number
closing file...
The answer is 1.0

## From the class

In [ ]:
try:
  int('0/0')
except (ValueError, TypeError):
  print("This is an error")
else:
  print('only run')
finally: #no matter what, do this
  print('Run right before the error')

This is an error
Run right before the error

# 2.9 generators

## Understanding generator

In [ ]:
#generator Can be used to produce an infinite number of items
#create normal functions using the ‘def’ keyword
# use of the yield keyword instead of return

In [ ]:
#generator function
def myfunc():
    yield value

#generator expression
Nums_squared_gc=(i**2 for i in range(1000))

In [ ]:
def infinite_sequence():
  num=0
  while True:
    yield num
    num +=1
    yield "This is the second "

inf=infinite_sequence()
print(next(inf)) #0
print(next(inf)) #This is the second
print(next(inf)) #1

In [ ]:
#no more to run
def infinite_sequence():
  nums=[1,2,3]
  for num in nums:
      yield num

inf=infinite_sequence()
print(next(inf)) #1
print(next(inf)) #2
print(next(inf)) #3
print(next(inf)) #StopIteration:

In [ ]:
nums_squared_lc=[num**2 for num in range(5)]  #list []
nums_squared_lc=(num**2 for num in range(5))  #generator()
#generator more memory, less speed

## Using advanced generator methods

In [ ]:
  #.send() slip a value into the last yeild statement where you stopped
while True:
     if is_pal(num):
        i = (yield num) #the generator yeild.send back here
for i in pal_gen:
    print(i)
    digits=len(str(i))
    pal_gen.send(10**(digits))  # send slip value back where you stopped

In [ ]:
#.throw() throw a exception
if digits ==5:
  pal_gen.throw(ValueError("We don't like large palindromes"))
  #11 111 1111 10101 Traceback(("We don't like large palindromes"))

In [ ]:
#.close() causes the generator to lose state, just like return 
if digits ==5:
  pal_gen.close()
##11 111 1111 10101 StopIteration

## data pipelines with genarator

In [ ]:
#big and alot of data 
# one line at a time

In [ ]:
f_n='tech'
lines=(line for line in open(f_n)) #() for generator 
list_line=(s.rstrip().split(',' ) for s in lines)
cols = next(list_line)
company_dicts= (dict (zip(cols, data))for data in list_line)
funding = (
    int (company_dicts['raistedAmt'])
    for company_dict in company_dicts
    if company_dict['round'] == 'a'
)
total_series_a= sum(funding)
print(f'Total series a fundraising: ${total_series_a}')

## code from class

In [ ]:
# yield form : allows us pull from iterable

In [ ]:
def gen(x):
  yield from range(x) 

for i in gen(5):
    print('from yeild from', i)

from yeild from 0
from yeild from 1
from yeild from 2
from yeild from 3
from yeild from 4

In [ ]:
# for loop : create and run an iterator to exhaustion

In [ ]:
for item in [1,2,3]:
  print(item)