SQL

https://ssh.cloud.google.com/projects/tfa-2021-fall-pl2648/zones/us-east4-c/instances/instance-1?authuser=0&hl=en_US&projectNumber=858214067821&useAdminProxy=true&troubleshoot4005Enabled=true&troubleshoot255Enabled=true

In [ ]:
psql -d bank #pull out database
bank=> \dt \dt+ \1 #pull list of relations
create database courses; # create a database call courses
\c courses # connect to courses
\c bank ; # connect to bank
\q #quit

In [ ]:
select #start with
* #all list
from #from which list
where # linking 2 ids
order by # geting a order 
desc # descenting order
limit # limit the number of row comes back
like # looking up  Ilike lower case '%a%' 'p%'
left join # join two table tgt
group by # collapse on aggregate on
; # end with

PRESS up # copy form previous
tab # completing keyword by itself
ctrl l # like leave clear on the screen
press up twice #to get back to the recent cell

select count(id) from users;
sum()
avg()
count() 

update:
insert into     values
update          set
delete from

In [ ]:
select name from users;
select name, balance from users, accounts where users.id = accounts.user_id;

In [ ]:
#Easier way:
select u.name, a.balance  #what is on the table
from users u, accounts a 
where u.id = a.user_id #linking id tgt
order by u.name, a.balance desc
limit 2;

In [ ]:
#no need to use all
#for example to see what data is avalible
select *
form users
limit 1;

In [ ]:
#look up 
select *
from users
where name like '%a%';

In [ ]:
# join and give back janet($0) left join sees the user name profilio
select u.name, sum(a.balance)
from users u
left join accounts a on u.id = a.user_id
group by u.id;

In [ ]:
#try to seperate input and output of sub SQL 
# and try to use join when nessessery 
select name
from users
where id in (
    select id 
    from users
    where name like '%P%'
);

In [ ]:
insert into users (id, name, join_date)
values (500, 'carl', '2020-05-06');

update users
set name = 'chris'where id = 500;

delect from users
where id = 500;